spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:file:./data/testdb
    username: sa
    password: 2805
  jpa:
    hibernate:
      ddl-auto: update